
{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Restorant{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

        <small><a href="/admin">Vous êtes un administrateur, accéder au backoffice ?</a></small><br/>

    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/password.png') }}" alt="Modifier mon mot de passe"><br/>
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>

    </div>
    <hr>
{% endblock %}
