{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de pass{% endblock %}

{% block body %}
    <h1> Modifier mon  Compt</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    <a href="{{ path('account') }}"> Retourner a mon compt </a><br>
    <hr >
    {{ form(form) }}
    <hr >
{% endblock %}