{% extends 'base.html.twig' %}
{% block carousel  %}{% endblock %}
{% block body %}
    <h3 id="Menu">Nos meilleures Menus </h3>
    <p>Découvrez les Menus</p>
    <div class="row " >
        {% for menu in menus %}
            <div class="col-md-3">
                <div class="product-item text-center">
                    <a href="{{ path('show', {'id': menu.id}) }}"><img src="/uploads/files/{{ menu.image }}" alt="{{ menu.title }}" class="img-fluid" style="border-radius: 130px;height: 253px;"></a>
                    <h5>{{ menu.title }}</h5>
                    <span class="product-subtitle">{{ menu.title }}</span>
                    <span class="product-subtitle">{{ menu.type }}</span>

                </div>
            </div>
        {% endfor %}
    </div><!-- /.row -->



    <!-- Three columns of text below the carousel -->



    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider" id="About">

    <div class="row featurette" >
        <div class="col-md-7">
            <h2 class="featurette-heading">Une équipe de professionnel <span class="text-muted">au grand savoir-faire</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/About-C-bg.jpg') }}" class="img-fluid" alt="Un savoir-faire Français">
        </div>
    </div>
    <h3 id="Items">Nos meilleures items </h3>
    <p>Découvrez les items</p>
    <div class="row " >
        {% for item in items %}
            <div class="col-md-3">
                {% include 'items/single_item.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Venez nous rencontrer dans nos <span class="text-muted">restaurant en Tunisie.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/GPtE-bg.jpg') }}" class="img-fluid" alt="Une boutique ouverte toute l'année">
        </div>
    </div>

    <!-- /END THE FEATURETTES -->
{% endblock %}
