<form method="post" action="{{ path('meals_delete', {'id': meal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meal.id) }}">
    <button class="btn btn-outline-danger" style="margin-top: -67px;margin-left:256px">Delete</button>
</form>
