{% extends 'base.html.twig' %}

{% block title %}Edit Meals{% endblock %}

{% block body %}
    <h1>Edit Meals</h1>

    {{ include('meals/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('meals_index') }} "  Class="btn btn-outline-secondary" style="    margin-top: -21px;
    margin-left: 115px;">back to list</a>

    {{ include('meals/_delete_form.html.twig') }}
{% endblock %}
