{% extends 'base.html.twig' %}

{% block title %}Meals liste{% endblock %}

{% block body %}
    <h1 class=" animate__animated animate__backInLeft"style="font-family:'Dancing Script', cursive  !important;font-size: 67px;
    text-align: center; ">Meals Liste</h1>
    <a href="{{ path('meals_new') }}" class="btn btn-outline-dark" style="float: right;margin-bottom: 22px;">Create new</a>


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Title</th>

            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>CreatedBy</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>



                <td>{{ meal.title }}</td>
                <td>{{ meal.description  |striptags|raw}}</td>
                <td><img src="/uploads/files/{{ meal.image }}" height="100px"></td>
                <td>{{ (meal.price /100) |number_format(2)}}£</td>
                <td>{{ meal.User }}</td>
                {#                        <td>{{ menu.createdAt ? menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#                        <td>{{ menu.updateAt ? menu.updateAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    <a href="{{ path('meals_show', {'id': meal.id}) }}" class="btn btn-outline-primary" style="width: 80px">show</a>
                    <a href="{{ path('meals_edit', {'id': meal.id}) }}" class="btn btn-outline-warning" style="width:80px;margin-top: -67px;margin-left:85px">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

    <div class="navigation">
        {{ knp_pagination_render(meals) }}
    </div>
{% endblock %}
