{% extends 'base.html.twig' %}

{% block title %}New Meals{% endblock %}

{% block body %}
    <h1>Create new Meals</h1>

    {{ include('meals/_form.html.twig') }}

    <a href="{{ path('meals_index') }}" Class="btn btn-outline-secondary" style="    margin-top: -21px;
    margin-left: 50px;">back to list</a>
{% endblock %}
