
{% extends 'base.html.twig' %}



    {% block body %}

        <div class="row">
            <div class="col-md-5">
                <img src="/uploads/files/{{ meal.image }}" alt="{{ meal.title }}" class="img-fluid">
            </div>
            <div class="col-md-7 my-auto">
                <h3>{{ meal.title }}</h3>
                <p>{{ meal.title }}</p>

                <span class="product-page-price">{{ (meal.price / 100)|number_format(2, ',', '.') }} €</span>

                <hr>
                <p>
                    {{ meal.description  |striptags|raw}}
                </p>

            </div>
        </div>
        <hr>
        <h3>Meal Items</h3>

        <div class="row">
            {% for item in meal.item %}
                <div class="col-md-3">
                    <div class="product-item text-center">
                        <a href=""><img src="/uploads/files/{{ item.image }}" alt="{{ item.title }}" class="img-fluid" style="border-radius: 130px;height: 253px;"></a>
                        <h5>{{ item.title }}</h5>
                        <span class="product-subtitle">{{ item.price }}</span>
                        <span class="product-subtitle">{{ item.title }}</span>

                    </div>
                </div>
            {% endfor %}
        </div><!-- /.row -->



{% endblock %}
