{% extends 'base.html.twig' %}

{% block title %}Items index{% endblock %}

{% block body %}
    <h1>Recherche</h1>

    <a href="{{ path('items_new') }}" class="btn btn-outline-dark" style="float: right;margin-bottom: 22px;">Create new</a>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Title</th>

            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Action</th>
            <th>CreatedBy</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>


                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td><img src="/uploads/files/{{ item.image }}" height="100px"></td>
                <td>{{ item.price }}</td>
                <td>{{ item.User }}</td>
                {#                        <td>{{ menu.createdAt ? menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#                        <td>{{ menu.updateAt ? menu.updateAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    <a href="{{ path('items_show', {'id': item.id}) }}" class="btn btn-outline-primary" style="width: 80px">show</a>
                    <a href="{{ path('items_edit', {'id': item.id}) }}" class="btn btn-outline-warning" style="width:80px;margin-top: -67px;margin-left:85px">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
    <div class="navigation">

    </div>
{% endblock %}
