<form method="post" action="{{ path('items_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button  class="btn btn-outline-danger" style="margin-top: -67px;margin-left:256px">Delete</button>
</form>
