  <main role="main">
      <div class="album py-5 " style="background-image: url('https://foodone.com.tn/wp-content/uploads/2022/09/bg-warda.png');">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow ">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
				   <h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir plus</button>
                      </div>
               </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card mb-4 box-shadow ">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
				   <h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>
					
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir plus</button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 animate__animated animate__flash">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
				   <h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir plus</button>
                
                    </div>
 
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 animate__animated animate__flash">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
				<h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>				   
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir plus</button>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 animate__animated animate__flash">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
				<h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>				   
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir plus</button>
                    </div>
          
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 animate__animated animate__flash">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
								<h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>				   
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir plus</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow animate__animated animate__flash">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
								<h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>				   

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir Plus</button>
                
                    </div>
               
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
								<h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>				   

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir Plus</button>
                    
                    </div>
               
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://foodone.com.tn/wp-content/uploads/2018/04/1-7.jpg" alt="Card image cap">
                <div class="card-body">
								<h3 class="card-title animate__animated animate__bounceInLeft " style=" color:#422219; font-family: Dancing Script",cursive; ">Couscous fin</h3>				   

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary ironbar">Voir Plus</button>
                
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>