{% extends 'base.html.twig' %}

{% block title %}Edit Items{% endblock %}

{% block body %}
    <h1>Edit Items</h1>

    {{ include('items/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('items_index') }}" Class="btn btn-outline-secondary" style="    margin-top: -21px;
    margin-left: 115px;">back to list</a>

    {{ include('items/_delete_form.html.twig') }}
{% endblock %}
