{% extends 'base.html.twig' %}

{% block title %}New Items{% endblock %}

{% block body %}
    <h1>Create new Items</h1>

    {{ include('items/_form.html.twig') }}

    <a href="{{ path('items_index') }}" Class="btn btn-outline-secondary" style="    margin-top: -21px;
    margin-left: 50px;">back to list</a>
{% endblock %}
