{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}











    {% block body %}

        <div class="row">
            <div class="col-md-5">
                <img src="/uploads/files/{{ item.image }}" alt="{{ item.title }}" class="img-fluid">
            </div>
            <div class="col-md-7 my-auto">
                <h3>{{ item.title }}</h3>
                <p>{{ item.title }}</p>
                <span class="product-page-price">{{ (item.price / 100)|number_format(2, ',', '.') }} €</span>
                <hr>
                <p>
                    {{ item.description  |striptags|raw}}
                </p>
            </div>
        </div>
        <hr>
        <div style="text-align: center">
        <a href="{{ path('items_index') }}"class="btn btn-outline-primary" style="">back to list</a>

        <a href="{{ path('items_edit', {'id': item.id}) }}" class="btn btn-outline-warning" style="">edit</a>

        {{ include('items/_delete_form.html.twig') }}
        </div>
                <h3>Nos meilleures ventes</h3>
        <p>Découvrez les articles les plus vendus.</p>
        <div class="row">
            {% for menu in menus %}
                <div class="col-md-3">
                    {% include 'item/single_item.html.twig' %}
                </div>
            {% endfor %}
        </div><!-- /.row -->





{% endblock %}
