<div class="product-item text-center">
    <a href="{{ path('items_show', {'id': item.id}) }}"><img src="/uploads/files/{{ item.image }}" alt="{{ item.title }}" class="img-fluid" style="border-radius: 130px;height: 253px;"></a>
    <h5>{{ item.title }}</h5>
    <span class="product-subtitle">{{ item.title }}</span>
    <span class="product-subtitle">{{ (item.price / 100)|number_format(2, ',', '.') }} €</span>

</div>