{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
    <h1>Edit Menu</h1>

    {{ include('menu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('menu_index') }}" class="btn btn-outline-secondary" style="    margin-top: -21px;
    margin-left: 115px;">back to list</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
