{% extends 'base.html.twig' %}

{% block title %}Menu liste{% endblock %}

{% block body %}
    <h1 style="font-family:'Dancing Script', cursive  !important; font-size: 67px;
    text-align: center;" class=" animate__animated animate__backInLeft">Menu Liste</h1>
    <a href="{{ path('menu_new') }}" class="btn btn-outline-dark" style="float: right;margin-bottom: 22px;">Create new</a>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Image</th>
            <th>CreatedBy</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
                    <tr>

                        <td>{{ menu.title }}</td>
                        <td>{{ menu.type }}</td>

                        <td>{{ menu.description |striptags|raw  }}</td>

                        <td><img src="/uploads/files/{{ menu.image }}" height="100px"></td>
                        <td>{{ menu.User }}</td>
{#                        <td>{{ menu.createdAt ? menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                        <td>{{ menu.updateAt ? menu.updateAt|date('Y-m-d H:i:s') : '' }}</td>#}
                        <td>
                            <a href="{{ path('menu_show', {'id': menu.id}) }}" class="btn btn-outline-primary" style="width: 80px">show</a>
                            <a href="{{ path('menu_edit', {'id': menu.id}) }}"  class="btn btn-outline-warning" style="width:80px;margin-top: -67px;margin-left:85px">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}

        </tbody>

    </table>
    <div class="navigation">
        {{ knp_pagination_render(menus) }}
    </div>
{% endblock %}
