{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1>Create new Menu</h1>

    {{ include('menu/_form.html.twig') }}

    <a href="{{ path('menu_index') }}" Class="btn btn-outline-secondary" style="    margin-top: -21px;
    margin-left: 50px;">back to list</a>
{% endblock %}
