
{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}











    {% block body %}

        <div class="row">
            <div class="col-md-5">
                <img src="/uploads/files/{{ menu.image }}" alt="{{ menu.title }}" class="img-fluid">
            </div>
            <div class="col-md-7 my-auto">
                <h3>{{ menu.title }}</h3>
                <p>{{ menu.title }}</p>
                <hr>
                <p>
                    {{ menu.description |striptags|raw }}
                </p>
            </div>
        </div>
        <hr>
        <div style="text-align: center">
            <a href="{{ path('menu_index') }}" class="btn btn-outline-primary" style="">back to list</a>

            <a href="{{ path('menu_edit', {'id': menu.id}) }}" class="btn btn-outline-warning" style="">edit</a>

            {{ include('menu/_delete_form.html.twig') }}
        </div>
        <hr>
                <h3>Menu Items</h3>

                <div class="row">
                    {% for items in menu.items %}
                        <div class="col-md-3">
                            <div class="product-item text-center">
                                <a href=""><img src="/uploads/files/{{ items.image }}" alt="{{ items.title }}" class="img-fluid" style="border-radius: 130px;height: 253px;"></a>
                                <h5>{{ items.title }}</h5>
                                <span class="product-subtitle">{{ menu.title   }}</span>
                                <span class="product-subtitle">{{ (items.price / 100)|number_format(2, ',', '.') }} €</span>

                            </div>
                        </div>
                    {% endfor %}
                </div><!-- /.row -->





    {% endblock %}
