<div class="product-item text-center">
    <a href="{{ path('show', {'id': menu.id}) }}"><img src="/uploads/files/{{ menu.image }}" alt="{{ menu.title }}" class="img-fluid" style="border-radius: 130px;height: 253px;"></a>
    <h5>{{ menu.title }}</h5>
    <span class="product-subtitle">{{ menu.title }}</span>
    <span class="product-subtitle">{{ menu.type }}</span>

</div>